project/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
project/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
project/target/maven-archiver/pom.properties
/project_360/target/
