<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
    <servlet>
        <servlet-name>GetVehicles</servlet-name>
        <servlet-class>ajax.calls.GetVehicles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalServlet</servlet-name>
        <servlet-class>ajax.calls.RentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReturnRentalServlet</servlet-name>
        <servlet-class>ajax.calls.ReturnRentalServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateUtil</servlet-name>
        <servlet-class>mainClasses.DateUtil</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVehicleAdmin</servlet-name>
        <servlet-class>ajax.calls.AddVehicleAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VehicleAdmin</servlet-name>
        <servlet-class>ajax.calls.VehicleAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminStatistics</servlet-name>
        <servlet-class>ajax.calls.AdminStatistics</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RentalHistory</servlet-name>
        <servlet-class>ajax.calls.RentalHistory</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetVehicles</servlet-name>
        <url-pattern>/GetVehicles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalServlet</servlet-name>
        <url-pattern>/RentalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReturnRentalServlet</servlet-name>
        <url-pattern>/ReturnRentalServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateUtil</servlet-name>
        <url-pattern>/DateUtil</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddVehicleAdmin</servlet-name>
        <url-pattern>/AddVehicleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VehicleAdmin</servlet-name>
        <url-pattern>/VehicleAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminStatistics</servlet-name>
        <url-pattern>/AdminStatistics</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RentalHistory</servlet-name>
        <url-pattern>/RentalHistory</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
